.wrapper{
	max-width: 80%;
	margin: 0 auto;
}
.container{
	display: grid;
	grid-template-areas: 
	"header header"
	"menu main"
	"footer footer";
	grid-template-columns:1fr 3fr;
	grid-template-rows: 1fr 40vw 40px ;
	grid-gap: 2vw;
}
#main{
	grid-area: main;
}
#header{
	grid-area: header;
}
#aside{
	grid-area: aside;
}
#footer{
	grid-area: footer;
}
.d1{
	border: 3px solid black;
	font-size: 14px;
	padding: 10px;
	text-align: center;
}
ul{
	list-style: none;
}
li{
	background-color: blue;
	border-radius: 15px;
	margin: 40px;
	padding: 10px;
	text-align: center;
	color: white;
}
a:hover{
	font-size: 20px;
}